.container{
	width: 1100px;
	margin: 0 auto;
	/* border: 1px solid orange; */
	line-height: 1.5;
	font-family: 'Roboto', sans-serif;
}
a:link, a:visited{
	text-decoration: none;
}
ul{
	list-style: none;
}
.row, .row::after, .row::before{
	width: 100%;
	display: table;
	clear: both;
}
div[class^="col"]{
	float: left;
	/* padding: 0 15px; */
}
.text-right{
	text-align: right;
}
.text-center{
	text-align: center;
}
.col12{
	width: 100%;
}
.col10{
	width: calc(100%*10/12);
}
.col9{
	width: calc(100%*9/12);
}
.col6{
	width: 50%;
}
.col4{
	width: calc(100%*4/12);
}
.col3{
	width: calc(100%*3/12);
}
.col2{
	width: calc(100%*2/12);
}
.col1{
	width: calc(100%*1/12);
}
.mb-70{
	margin-bottom: 70px;
}
/* .mb-30{ */
	/* margin-bottom: 30px; */
/* } */
.mb-135{
	margin-bottom: 135px;
}
.pr-30{
	padding-right: 30px;
}
.pl-30{
	padding-left: 30px;
}
.col-offset-1{
	margin-left: calc(100%*1/12);
}
.col-offset-4{
	margin-left: calc(100%*4/12);
}
