*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/* header section starts here */
.header{
	padding: 70px 0 100px;
}
.navbar li{
	display: inline-block;
	margin: 0 30px;
}

.navbar li:last-child{
	margin-right: 0;
}
.navbar li:last-child a{
	padding-right: 0;
}
.navbar li a{
	padding: 0 30px;
	font-size: 14px;
	color: #626262;
	text-transform: uppercase;
	/* font-family: playfair-display; */
}
.heroImg{
	height: 100vh;
	background-image: url(../images/heroimage.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
/*=================== post section starts here================ */
.posts{
	/* padding-bottom:125px; */
	padding-top: 0;
}
.heading-primary{
	font-size: 14px;
	font-weight: light;
	color: #b4ad9e;
	text-transform: uppercase;
	margin-bottom: 30px;
	font-family: 'Montserrat', sans-serif;
}
.heading-secondary{
	font-size: 30px;
	font-weight: regular;
	color: #626262;
	margin-bottom: 35px;
	font-family: 'Montserrat', sans-serif;
}
.para{
	font-size: 14px;
	font-weight: regular;
	color: #626262;
	margin-bottom: 50px;
}
.leavecomment{
	font-size: 14px;
	color: #b4ad9e;
	font-weight: lighter;
	text-transform: uppercase;
	margin-bottom: 135px;
	display: inline-block;
}
.thumbImg{
	height: 280px;
	margin-bottom: 30px;
}
.thumbImg img{
	height: 100%;
	width: 100%;
	object-fit: over;
}
/* =============sign up section starts here============= */
.signup{
	background-color: #f0f0f0;
	padding: 75px 0;
}
.signUpheading{
	font-size: 30px;
	font-weight: regular;
	color: #333333;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 80px;
}
.form-group{
	height: 40px;
	overflow: hidden;
	position: relative;
}
.form-group .emails{
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	padding: 10px;
	background-color: transparent;
	border-bottom: 1px solid #000;
}
.submitBtn{
	position: absolute;
	top: 10px;
	right: 10px;
	color: #000;
	transform: rotate(45deg);
	/* width: 400px; */
	
}

/* =========newpost css========= */
.newpost{
	padding: 100px 0 70px
}
.btn{
	padding: 20px 35px;
	font-size: 20px;
	color: #626262;
	font-weight: regular;
	background-color: #fff;
	border: 1px solid #626262;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}
.btn:hover, .btn:active, .btn:focus{
	background-color: #626262;
	color: #fff;
}
/* ================footer css starts here================ */
.footer{
	padding: 40px 0;
	background-color: #f0f0f0;
}
.footer li{
	display: inline-block;
	margin-right: 15px;
}
.footerlinks li a{
	font-size: 14px;
	color: #000;
	text-transform: capitalize;
	display: inline-block;
}
.footerlinks li a i{
	color: #616161;
}